<html>
  <head>
  	<title>To Do List</title>  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>	
    <style type="text/css">
      body
      {  
        font-family: Abel,"Lucida Sans Unicode","Lucida Grande",Tahoma,Garuda,Verdana,sans-serif;
      }
      .white {
      	color: #FFFFFF;
      }
      .background-color{
      	background-color: #122345;
      }
      .notepad{
      	background-color:#FFFFFF;
      	height:100%
      }
      .box{
      	margin: 30px;
      	background-color:#67D2C2 ;
      }   
      h3{margin-left: 10%;}
      input[type="text"]{
      	margin-left: 10%;
      	width:80%;
      	border: 2px solid #122345;
      	padding: 10px;
      }
      ul{
      	list-style: none;
      }
      .checkboxform{display: inline-block;}
      #doneList{text-decoration:line-through;}
    </style>
  </head>
  <body class="background-color">
  		<div class="container-fluid box">
  			<div class="row">
  				<div class="col-xs-hidden col-sm-3"></div>
  				<div class="col-xs-12 col-sm-6">
  					<img src="../static/spiral.jpg" class="img-responsive" style="width:100%" alt="Image">
  					<div class="notepad">		
  						<form action="{% url 'task' %}" method="POST">
  						{% csrf_token %}
  							<input type="text" name="taskName"/ placeholder="Type and hit enter to add">
  							<input type="submit" name="submit">
  						</form>
  						<h3>To Do</h3>
  						<ul id="undoneList">
						    {% for task in toDoTasks %}
						    <li>
                  <div class="task">
  						    	<form action="done/{{task.taskid}}" class="checkboxform">
  						    		<input style="display:inline-block;" type="checkbox" onchange="$(this).closest('form').submit();">
  						    	</form>
  						    	<span value="{{task.taskid}}" class="item">{{task.taskName}}<span>
  						    	<span class="itemdelete" value="{{task.taskid}}"><img src="../static/delete.png"></span>
                  </div>
						    </li>
						    {% endfor %}
						</ul>
  						<h3>Done</h3>
  						<ul id="doneList">
						    {% for task in doneTasks %}
                <li>
                  <div class="task">
                    <form action="undone/{{task.taskid}}" class="checkboxform">
                      <input style="display:inline-block;" type="checkbox" onchange="$(this).closest('form').submit();">
                    </form>
                    <span value="{{task.taskid}}" class="item">{{task.taskName}}<span>
                    <span class="itemdelete" value="{{task.taskid}}"><img src="../static/delete.png"></span>
                  </div>
                </li>
						    {% endfor %}
						</ul>
  					</div>
  				</div>
  				<div class="col-xs-hidden col-sm-3"></div>
  			</div>
  		</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% csrf_token %}
  <script type="text/javascript">
    $(function() {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });

        $('form').each(function() {
            $(this).find('input').keypress(function(e) {
                // Enter pressed?
                if(e.which == 10 || e.which == 13) {
                    $(this).form.submit();
                }
            });

           $(this).find('input[type=submit]').hide();
        });

        $('body').on('dblclick','.item',function(e){
          id=$(this).attr("value");
          console.log(id);
        });

        $('body').on('click','.itemdelete',function(e){
          var that=this;
          taskid=$(this).attr("value");
          console.log(taskid);
          jQuery.ajax({
              url:"/"+taskid,
              type: 'DELETE',
              success:function(data){
                  console.log("deleted");
                  $(that).closest('.task').hide(); 
              }
          });
        });

    });



  </script>
  </body>
</html>